/ConvertNumberSystem/build/
/LetterAndChacracterCount/nbproject/private/
/LetterAndChacracterCount/build/
/BubbleSort/nbproject/private/
/BSTree/nbproject/private/
/TPBank/nbproject/private/
/WorkerManagement/nbproject/private/
/TPBank/build/
/TPBankByMe/nbproject/private/
/checkDataFormat/nbproject/private/
/checkDataFormat/build/
/SimpleTPBank/nbproject/private/
/SimpleTPBank/build/
/InsertionSort/build/
/70LOCStudent/nbproject/private/
/matrix/nbproject/private/
/matrix/build/